---
import Heading from '@components/Heading.astro'
import Layout from '@layouts/Layout.astro'
import { SITE } from '@common/config'
import truncate from 'lodash/truncate'
import format from 'date-fns/format'
import slugify from '@common/slugify'
import Tags from '@components/Tags.astro'

// https://docs.astro.build/en/reference/api-reference/#astroglob
const posts = await Astro.glob('../../content/*.md')
---

<Layout title={`${SITE.title}: Writing`} activeNav="writing">
  <Heading level="h1">Writing</Heading>

  <p class="mb-8">
    Below you will find... well I cannot guarantee what you will find. It
    changes A LOT. There are journals, tutorials, pro tips, rants, ramblings,
    and maybe some theology.
  </p>

  <ul class="grid gap-10">
    {
      posts
        .sort((a, b) => {
          var dateA = new Date(a.frontmatter.date)
          var dateB = new Date(b.frontmatter.date)
          // @ts-ignore
          return dateB - dateA
        })
        .map((post) => {
          // @ts-ignore
          const slug = slugify(post.frontmatter)
          const title = truncate(post.frontmatter.title, {
            length: 39,
          })

          return (
            <li class="flex flex-col border p-4 border-border-light dark:border-dm-border-light">
              <h2 style={{ lineHeight: 1 }}>
                <small class="text-sm block uppercase">
                  {post.frontmatter.type}:
                  {format(new Date(post.frontmatter.date), 'MMMM dd, yyyy')}
                </small>
                <a href={'/writing/' + slug} title={post.frontmatter.title}>
                  {title}
                </a>
              </h2>
              <p class="mb-3 flex-1" style={{ lineHeight: 1 }}>
                {post.frontmatter.description}
              </p>
              <Tags tags={post.frontmatter.tags} />
            </li>
          )
        })
    }
  </ul>
</Layout>
<style>
  ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
</style>
